<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meta.portal.sdk.app">

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="com.facebook.portal.permission.SHOW_SMART_CAMERA_EDITOR" />
    <uses-permission android:name="com.facebook.portal.permission.ACCESS_CAMERA_MIC_STATE" />
    <uses-permission android:name="com.facebook.portal.permission.SMART_CAMERA_CONTROL"/>
    <uses-permission android:name="com.facebook.portal.permission.SMART_CAMERA_METADATA"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortalSampleApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PortalSampleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".calling.CallingActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>
        <activity
            android:name=".companion.CompanionActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>
        <activity
            android:name=".handraise.HandRaiseActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>
        <activity
            android:name=".smartcamera.CameraActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>
        <activity
            android:name=".smartcameraEditor.SmartCameraEditorActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>
        <activity
            android:name=".privacyshutter.PrivacyShutterActivity"
            android:exported="true"
            android:theme="@style/Theme.PortalSampleApp">
        </activity>

    </application>

</manifest>
